/* Posts Page CSS */


*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    /* add font style here */
    background: white;
    overflow-x: hidden;
    font-family: "Fredoka", sans-serif;
}

.customcontainer{
    width: 80%;
    margin: 0 auto;
}

.profile-picture{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500 ;
    border-radius: 2rem ;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    border: 2px solid #203535;
}

.btn:hover{
    opacity: 0.8;
    border: 2px solid #678F8E;
    transition: all 300ms ease;
}

.btn-primary{
    background: #203535 ;
    color: azure;
    border: 2px solid;
}

.btn-primary:hover{
    background: #678F8E ;
    color: azure;
    border-color: 2px solid;
}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: rgb(94, 94, 94);
}

/* nav bar begins */
nav{
    width: 100%;
    background: #203535;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .customcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
 .searchBar{
    background: rgb(255, 255, 255);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: center;
}

 .searchBar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color:#203535 ;

}

 nav .searchBar input[type="search"]::placeholder{
    color: rgb(94, 94, 94);
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .logoimage{
    width: 3%;
    margin-right: 0.5rem;
}

/* nav bar ends */

/* main section begins */

main{
    position: relative;
    top: 5.4rem;

}

main .customcontainer{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}
/* main section ends*/

/* main section begins - left side*/

main .customcontainer .left{
    height: max-content;
    position: sticky;
    top: 5.4rem ;

}

main .customcontainer .left .profile{
    padding: 1rem ;
    background: #203535 ;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    color: white;
}

/* sidebar begins */

.left .sidebar{
    margin-top: 1rem;
    background: #203535 ;
    border-radius: 1rem ;
}

.left .sidebar .menu-items{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    translate: all 300ms ease;
    position: relative;
    color: white;
}

.left .sidebar .menu-items:hover{
    background: #9CBFBF ;
    
}

.left .sidebar .icon{
    font-size: 1.4rem;
    color: white;
    margin-left: 2rem;
    position: relative;

}

.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active{
    background: white ;
}


.left .sidebar .active .icon, 
.left .sidebar .active h3{
    color: #203535;
}


.left .sidebar .active::before{
    content: "";
    display: block;
    width: 1.5rem;
    height: 100%;
    position: absolute;
    background: #9CBFBF;;
}

.left .sidebar .menu-items:first-child.active{
    border-top-left-radius: 1rem;
    overflow: hidden;
   
}


.left .sidebar .menu-items:last-child.active{
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/* side bar ends */

/* middle begins */

.middle .stories{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.middle .stories .story{
    padding: 1rem;
    border-radius: 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    background: white;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before{
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    position: absolute;
    bottom: 0;
}

.middle .stories .story:hover{
    padding: 1rem;
    border-radius: 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#D9EFFD;
    font-weight: bold;
    font-size: 0.75rem;
    width: 100%;
    background: white;
    position: relative;
    overflow: hidden;
}



.middle .stories .story .name{
z-index: 2;
}

.middle .stories .story:nth-child(1){
background: url(/images/couple1.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(2){
    background: url(/images/couple2.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(3){
    background: url(/images/couple3.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(4){
    background: url(/images/couple4.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(5){
    background: url(/images/couple5.jpg) no-repeat center center/cover;
}

.middle .stories .story:nth-child(6){
    background: url(/images/couple6.jpg) no-repeat center center/cover;
}

.middle .story .profile-picture{
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 2px solid white;
}

/* post begins */
.middle .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: white;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    border: 2px solid #203535;
}

.middle .create-post input[type='text']{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    color: #203535;
    margin-right: 1rem;
}

/* feed */
.middle .feeds .feed{
    background: rgb(241, 241, 241);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
    color: #203535;

}

.middle .feed .head{
    display: flex;
    justify-content: space-between;
}

.middle .feed .user{
    display: flex;
    gap: 1rem;
}

.middle .feed .photo{
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.middle .feed .action-button .posticon:hover{
    color: #678F8E;
}

.middle .liked-by{
    display: flex;
}

.middle .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    margin-left: -0.6rem;
}

.middle .liked-by span:first-child{
    margin: 0;
}

.middle .liked-by p{
    margin-left: 0.5rem;
}

/* end of feed */

/* right side begins */

main .customcontainer .right{
    height: max-content;
    position: sticky;
    top: -18rem;
    bottom: 0;
    color: white;
}

.right .messages{
    background: #203535;
    border-radius:1rem ;
    padding: 1rem;
}

.right .messages .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: white;
}

.right .messages .micon{
    font-size: 1.4rem;    
    
}

.right .messages .searchBar{
    display: flex;
    margin-bottom: 1rem;
    background-color: white;
    color: #203535;

}

.right .messages .searchBar .icon{
    color: #203535;

}

.right .messages .category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid #678F8E;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
    color: white;
}

.right .messages .category .active{
    border-color: #D9EFFD;
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
    color: white;
    transition: background-color 0.3s ease; 
    border-radius: 8px; 
    padding: 10px; 
}

.right .messages .message:hover {
    background-color: #678F8E; 
    cursor: pointer; 
}

.right .messages .message:hover h5,
.right .messages .message:hover p {
    color: white; 
}
.right .messages .message:last-child{
    margin: 0;
}

.right .messages .message p{
    font-size: 0.8rem;
}

.right .messages .message .profile-picture .active{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid #203535;
    background: green;
    position: absolute;
    bottom: 0;
    right: 0;
}

.right .messages .message .profile-picture{
    position: relative;
    overflow: visible;
}

.right .profile-picture img{
    border-radius: 50%;
}


/* GMO alerts */

.right .friend-request{
    margin-top: 1rem;

}

.right .friend-request h4{
    color: #203535;
    margin: 1rem 0;
}

/* .right .friend-request p{
    display: flex;
    
} */
.right .request{
    background: rgb(237, 237, 237) ;
    padding: 1rem ;
    border-radius:1rem ;
    margin-bottom: 0.7rem;
    color: #203535;
}

.right .request .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action{
    display: flex;
    gap: 1rem;
}

.right .request .profile-details {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 1rem;
    margin-bottom: 0.5rem; /* Adjust the space between profile and status */
}

.right .searchBar ion-icon {
    font-size: 2.0rem; /* Adjust the size as needed */
    color: white; /* Optional: Adjust the color if needed */
}